<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>

    <script src="https://www.paypal.com/sdk/js?client-id=AQR4PDcURVeSjKXS0BvwY9tLkvJFImt8oIBH6drbTo_cwB27rwGHzO7tEIEVH2D2eaJtTuCxKkD9D6sx"></script>
</head>

<body>

    <h1>Paypal trash page</h1>

    <div id="paypal-button-container"></div>

    <div id="target"></div>

    {% verbatim %}
        <script id="template" type="x-tmpl-mustache">
          {{#products}}
              <div onclick="renderButton('{{name}}', '{{price}}')">
                    <h1>{{name}}</h1>
                <h1>{{id}}</h1>
                <h1>{{description}}</h1>
              </div>
          {{/products}}
        </script>
    {% endverbatim %}

    <script>

        function renderButton(id, price) {
            paypal.Buttons({
                createOrder : function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: price
                            }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        console.log('Transaction completed by ' + details.payer.name.given_name);
                        console.log("Create in database order");
                    });
                }
            }).render('#paypal-button-container');
        }

        function renderHello(json) {
            console.log("renderHello");
            var template = document.getElementById('template').innerHTML;
            // Mustache.tags = [ '[[', ']]' ];
            var rendered = Mustache.render(template, { products : json });
            document.getElementById('target').innerHTML = rendered;
        }

        fetch('/api/products', {
            method : 'GET',
            headers : {
                'content-type' : 'application/json'
            }
        }).then(value => {
            return value.json()
        })
        .then(json => {
            renderHello(json);
            console.log(json);
        });



        /*
                createOrder: function() {
                  return fetch('/my-server/create-paypal-transaction', {
                    method: 'post',
                    headers: {
                      'content-type': 'application/json'
                    }
                  }).then(function(res) {
                    return res.json();
                  }).then(function(data) {
                    return data.orderID; // Use the same key name for order ID on the client and server
                  });
                }




            paypal.Buttons({
                createOrder : function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '0.01'
                            }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        console.log('Transaction completed by ' + details.payer.name.given_name);
                        console.log("Create in database order");
                    });
                }
            }).render('#paypal-button-container');*/

    </script>

</body>