{% block title %}Register{% endblock %}

{% block body %}

    <form method="POST"  action="{{ path('app_register') }}" >

        <h1 class="h3 mb-3 font-weight-normal">Create new user</h1>

        {{ form_start(form) }}

        {{ form_row(form.username) }}

        {{ form_row(form.email) }}

        {{ form_row(form.password) }}

        <button type="submit">Register</button>

        {{ form_end(form) }}
    </form>

{% endblock %}
